* {
  font-family: Roboto;
}

body {
  background-image: url("https://images.unsplash.com/photo-1601297183305-6df142704ea2");
  margin: 0;
}

h1 {
  text-transform: capitalize;
  margin: 80px 60px 40px;
  text-align: center;
  font-weight: 900;
  font-size: 48px;
}

