header {
  margin: 6px;
}

.name-app {
  font-size: 24px;
  color: white;
}

.current-date {
  text-align: center;
}

.submit-city-button {
  margin-bottom: 1rem;
  min-width: 80px;
}

h1 {
  margin: 120px 0 80px;
}

.current-position {
  margin-bottom: 32px;
}

@media (max-width: 576px) {
 h1 {
  margin: 40px 0 40px;
 } 
}